flask
flask-jwt-extended
flasgger
flask-socketio
flask-cors
psycopg2-binary
bcrypt
cryptography
python-dotenv
openpyxl
gunicorn
eventlet
redis
boto3
imagehash
paramiko
structlog
requests
ultralytics
torch
torchvision
opencv-python-headless
Pillow
numpy
